language: python

python:
    - "3.6"

install:
    - pip install -U pip
    - pip install -r requirements.txt
    - pip install -r requirements-test.txt
    - python setup.py build_ext --inplace
    - python setup.py install

jobs:
    include:
        - stage: test
          name: test
          script: pytest -vs